/* Backdrop filter */
.backdrop-filter-blur {
   -webkit-backdrop-filter: blur(100px);
   backdrop-filter: blur(100px);
}

/* Clickable */
.clickable {
   cursor: pointer;
}

/* Placeholder */
div.placeholder-card-img {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

div.placeholder-card-img-text {
   position: absolute;
   width: 90%;
}